<div id="login_panel" style="display: none;">
    <img src="assets/images/logo.png" id="logo">

    <form class="col s12" id="login-form">
        <div id="input_login">
            <input id="username" type="text" placeholder="Pseudo | Email" >

            <input  id="password" type="password"  placeholder="Mot de passe">
            <br>
            <a href="" id="forgot_password">Mot de passe oublié ?</a>
        </div> 
    </form>
    

    <button  class="btn-floating btn-large waves-effect waves-light red" id="login_button">CONNEXION</button>
    <a href="" id="no_account">Pas de compte ? Inscrivez vous ici !</a>

</div>
<script src="./assets/js/scripts/login.js"></script>
