<div id="PhynariaLoginContainer" style="display: none;">
    <img id="logo" src="assets/images/logo.png" width="262" height="157">
    <main>
        <div class="container">
            <div class="row">
                <center>
                <form class="col s12" id="login-form">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="pseudo" type="text" class="validate">
                            <label for="email">Pseudo</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate">
                            <label for="password">Mot de passe</label>
                        </div>

                        <a href="#">Mot de passe oublié ?</a>

                    </div>
                    <div class="row">
                        <div class="col s12">

                            <button id="loginbtn" class="waves-effect waves-light btn gradient-btn" type="button">Se connecter
                                <i class="material-icons right">send</i>
                            </button>

                        </div>

                        <a href="https://phynaria.fr/user/register">Pas encore de compte ? <br /> Inscrivez-vous</a>

                    </div>
                </form>
                </center>
            </div>
        </div>
    </main>
</div>
<script src="./assets/js/scripts/login.js"></script>