<div id="PhynariaLoginContainer" style="display: none;">
    <div id="login_panel">
        

        <img id="barre" src="assets/images/UI/barre.png" width="370">

        <img src="assets/images/logo.png" id="logo" width="224" height="124">

        <form class="col s12" id="login-form">
            <div id="input_login">
                <input id="username" type="text" placeholder="Pseudo | Email" >
    
                <input  id="password" type="password"  placeholder="Mot de passe">
                <br>
                <a href="https://phynaria.fr/user/password/reset" id="forgot_password">Mot de passe oublié ?</a>
            </div> 
        </form>

        
        
    
        <button  class="btn-floating btn-large waves-effect waves-light red" id="login_button">CONNEXION</button>
        <a href="https://phynaria.fr/user/register" id="no_account">Pas de compte ? Inscrivez vous ici !</a>

        <img src="assets/images/UI/barre.png" width="370">
    </div>
</div>
<script src="./assets/js/scripts/login.js"></script>