<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/logo.png"/>
        <span id="welcomeHeader">Bienvenue sur PhynariaMC, aventurier intrépide !
        </span>
        <span id="welcomeDescription">
            C'est avec une immense joie que nous t'accueillons au sein de notre communauté florissante, un univers vibrant où l'aventure et la créativité se rencontrent. <br>
            Sur PhynariaMC, nous sommes fiers d'être bien plus qu'un simple serveur, nous sommes une famille de joueurs passionnés réunis par la magie des modpacks. <br>
            <br>
            Que tu sois un maître de la technologie, un architecte chevronné ou un explorateur de dimensions inexplorées, PhynariaMC offre un terrain de jeu infini pour tous les types de joueurs. <br>
            Plonge dans l'univers épique de nos modpacks soigneusement sélectionnés, où chaque recoin recèle des mystères à découvrir et des défis à relever. <br>
            <br>
            Notre communauté chaleureuse est composée de joueurs dévoués prêts à t'accueillir à bras ouverts. Que tu préfères l'aventure en solo, les collaborations épiques ou les échanges amicaux, tu trouveras toujours quelqu'un pour partager tes exploits.<br>
            <br>
            Prépare-toi à t'immerger dans un monde où se mêlent la magie, la technologie et l'amitié. PhynariaMC t'appelle, aventurier, et l'épopée commence dès maintenant !<br>
            <br>
            Que l'aventure commence, et que tes journées sur PhynariaMC soient remplies de découvertes passionnantes et d'amitiés durables !<br>
        </span>
        <br>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                <%- lang('welcome.continueButton') %>
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>